on boot
 #add for fingerprint
    chmod  0660  /dev/fingerprint
    chown  system  system  /dev/fingerprint
    chmod  0660  /sys/devices/platform/fingerprint/irq
    chown  system  system  /sys/devices/platform/fingerprint/irq
    chown system system /sys/devices/platform/fingerprint/fingerprint_chip_info

#nfc
    chown nfc nfc /sys/nfc/nfc_fwupdate
    chmod 0664 /sys/nfc/nfc_fwupdate
    chown nfc nfc /sys/nfc/nxp_config_name
    chmod 0664 /sys/nfc/nxp_config_name
    chown nfc nfc /sys/nfc/nfc_brcm_conf_name
    chmod 0664 /sys/nfc/nfc_brcm_conf_name
    chown nfc nfc /sys/nfc/nfc_sim_switch
    chmod 0664 /sys/nfc/nfc_sim_switch
    chown nfc nfc /sys/nfc/nfc_sim_status
    chmod 0444 /sys/nfc/nfc_sim_status
    chown nfc nfc /sys/nfc/rd_nfc_sim_status
    chmod 0444 /sys/nfc/rd_nfc_sim_status
    chown nfc nfc /sys/nfc/nfc_enable_status
    chmod 0664 /sys/nfc/nfc_enable_status
    chown nfc nfc /sys/nfc/nfc_card_num
    chmod 0444 /sys/nfc/nfc_card_num
    chown nfc nfc /sys/nfc/nfc_chip_type
    chmod 0444 /sys/nfc/nfc_chip_type
    chown nfc nfc /sys/nfc/nfc_fw_version
    chmod 0444 /sys/nfc/nfc_fw_version
    chown nfc nfc /sys/nfc/nfcservice_lock
    chmod 0664 /sys/nfc/nfcservice_lock
    chown nfc nfc /sys/nfc/nfc_svdd_sw
    chmod 0664 /sys/nfc/nfc_svdd_sw
    chown nfc nfc /sys/nfc/nfc_close_type
    chmod 0664 /sys/nfc/nfc_close_type
    chown nfc nfc /sys/nfc/nfc_single_channel
    chmod 0444 /sys/nfc/nfc_single_channel

#irda
    chown root system /dev/ttyAMA0
    chown system irda /sys/class/irda/irda_maxim/power_cfg
    write /sys/class/irda/irda_maxim/power_cfg 1

#voltage
    chown system system /sys/class/voltage/voltage/vol_enable
    chown system system /sys/class/voltage/voltage/vol_value

start cs-set
#cpuset
service cs-set /system/vendor/bin/cs-set
    class main
    user root
    disabled
    oneshot

service HwServiceHost /system/bin/HwServiceHost hi3660 STF
    class main
    user cameraserver
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm system dsm sdcard_rw
